.main {
  grid-area: main;
}

.layout {
  --grid-gap: 0;
  width: 100%;
  height: 100%;
  grid-template-areas: "slider-imgs" "slider-text" "about-img-dark" "about-text" "about-img-light";
  grid-template-rows: repeat(5, auto);
}

@media (min-width: 880px) {
  .layout {
    grid-template-areas: "slider-imgs slider-text";
  }
}
